.mv-comp-toolbar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 64px;
	background-color: #2196F3;
	color: #ffffff;
	box-shadow: 0px 0px 4px 0px #ffffff;
}



.mv-comp-appbar {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 64px;
	background-color: #2196F3;
	color: #ffffff;
	box-shadow: 0px 0px 4px 0px #ffffff;
}

.mv-comp-appbar.mv-info-flexible {
	position: absolute;
	background-color: #ffffff;
	color: #000000;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #000000;
	box-shadow: none;
}
.mv-comp-appbar-flexible {
	position: absolute;
	background-color: #ffffff;
	color: #000000;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #000000;
	box-shadow: none;
}

.mv-comp-appbar.mv-info-hastoolbar {
	top: 64px;
}





.mv-col-red {
	background-color: #F44336;
	color: #ffffff;
}
.mv-col-red50 {
	background-color: #FFEBEE;
	color: #000000;
}
.mv-col-red100 {
	background-color: #FFCDD2;
	color: #000000;
}
.mv-col-red200 {
	background-color: #EF9A9A;
	color: #000000;
}
.mv-col-red300 {
	background-color: #E57373;
	color: #000000;
}
.mv-col-red400 {
	background-color: #EF5350;
	color: #ffffff;
}
.mv-col-red500 {
	background-color: #F44336;
	color: #ffffff;
}
.mv-col-red600 {
	background-color: #E53935;
	color: #ffffff;
}
.mv-col-red700 {
	background-color: #D32F2F;
	color: #ffffff;
}
.mv-col-red800 {
	background-color: #C62828;
	color: #ffffff;
}
.mv-col-red900 {
	background-color: #B71C1C;
	color: #ffffff;
}
.mv-col-redA100 {
	background-color: #FF8A80;
	color: #000000;
}
.mv-col-redA200 {
	background-color: #FF5252;
	color: #FFFFFF;
}
.mv-col-redA400 {
	background-color: #FF1744;
	color: #FFFFFF;
}
.mv-col-redA700 {
	background-color: #D50000;
	color: #FFFFFF;
}

.mv-col-pink {
	background-color: #E91E63;
	color: #ffffff;
}
.mv-col-pink50 {
	background-color: #FCE4EC;
	color: #000000;
}
.mv-col-pink100 {
	background-color: #F8BBD0;
	color: #000000;
}
.mv-col-pink200 {
	background-color: #F48FB1;
	color: #000000;
}
.mv-col-pink300 {
	background-color: #F06292;
	color: #ffffff;
}
.mv-col-pink400 {
	background-color: #EC407A;
	color: #ffffff;
}
.mv-col-pink500 {
	background-color: #E91E63;
	color: #ffffff;
}
.mv-col-pink600 {
	background-color: #D81B60;
	color: #ffffff;
}
.mv-col-pink700 {
	background-color: #C2185B;
	color: #ffffff;
}
.mv-col-pink800 {
	background-color: #AD1457;
	color: #ffffff;
}
.mv-col-pink900 {
	background-color: #880E4F;
	color: #ffffff;
}
.mv-col-pinkA100 {
	background-color: #FF80AB;
	color: #000000;
}
.mv-col-pinkA200 {
	background-color: #FF4081;
	color: #000000;
}
.mv-col-pinkA400 {
	background-color: #F50057;
	color: #000000;
}
.mv-col-pinkA700 {
	background-color: #C51162;
	color: #000000;
}

.mv-col-purple {
	background-color: #9C27B0;
	color: #ffffff;
}
.mv-col-purple50 {
	background-color: #F3E5F5;
	color: #000000;
}
.mv-col-purple100 {
	background-color: #E1BEE7;
	color: #000000;
}
.mv-col-purple200 {
	background-color: #CE93D8;
	color: #000000;
}
.mv-col-purple300 {
	background-color: #BA68C8;
	color: #ffffff;
}
.mv-col-purple400 {
	background-color: #AB47BC;
	color: #ffffff;
}
.mv-col-purple500 {
	background-color: #9C27B0;
	color: #ffffff;
}
.mv-col-purple600 {
	background-color: #8E24AA;
	color: #ffffff;
}
.mv-col-purple700 {
	background-color: #7B1FA2;
	color: #ffffff;
}
.mv-col-purple800 {
	background-color: #6A1B9A;
	color: #ffffff;
}
.mv-col-purple900 {
	background-color: #4A148C;
	color: #ffffff;
}
.mv-col-purpleA100 {
	background-color: #EA80FC;
}
.mv-col-purpleA200 {
	background-color: #E040FB;
}
.mv-col-purpleA400 {
	background-color: #D500F9;
}
.mv-col-purpleA700 {
	background-color: #AA00FF;
}

.mv-col-deeppurple {
	background-color: #673AB7;
	color: #ffffff;
}
.mv-col-deeppurple50 {
	background-color: #EDE7F6;
	color: #000000;
}
.mv-col-deeppurple100 {
	background-color: #D1C4E9;
	color: #000000;
}
.mv-col-deeppurple200 {
	background-color: #B39DDB;
	color: #000000;
}
.mv-col-deeppurple300 {
	background-color: #9575CD;
	color: #ffffff;
}
.mv-col-deeppurple400 {
	background-color: #7E57C2;
	color: #ffffff;
}
.mv-col-deeppurple500 {
	background-color: #673AB7;
	color: #ffffff;
}
.mv-col-deeppurple600 {
	background-color: #5E35B1;
	color: #ffffff;
}
.mv-col-deeppurple700 {
	background-color: #512DA8;
	color: #ffffff;
}
.mv-col-deeppurple800 {
	background-color: #4527A0;
	color: #ffffff;
}
.mv-col-deeppurple900 {
	background-color: #311B92;
	color: #ffffff;
}
.mv-col-deeppurpleA100 {
	background-color: #B388FF;
	color: #000000;
}
.mv-col-deeppurpleA200 {
	background-color: #7C4DFF;
	color: #FFFFFF;
}
.mv-col-deeppurpleA400 {
	background-color: #651FFF;
	color: #FFFFFF;
}
.mv-col-deeppurpleA700 {
	background-color: #6200EA;
	color: #FFFFFF;
}

.mv-col-indigo {
	background-color: #3F51B5;
	color: #ffffff;
}
.mv-col-indigo50 {
	background-color: #E8EAF6;
	color: #000000;
}
.mv-col-indigo100 {
	background-color: #C5CAE9;
	color: #000000;
}
.mv-col-indigo200 {
	background-color: #9FA8DA;
	color: #000000;
}
.mv-col-indigo300 {
	background-color: #7986CB;
	color: #ffffff;
}
.mv-col-indigo400 {
	background-color: #5C6BC0;
	color: #ffffff;
}
.mv-col-indigo500 {
	background-color: #3F51B5;
	color: #ffffff;
}
.mv-col-indigo600 {
	background-color: #3949AB;
	color: #ffffff;
}
.mv-col-indigo700 {
	background-color: #303F9F;
	color: #ffffff;
}
.mv-col-indigo800 {
	background-color: #283593;
	color: #ffffff;
}
.mv-col-indigo900 {
	background-color: #1A237E;
	color: #ffffff;
}
.mv-col-indigoA100 {
	background-color: #8C9EFF;
	color: #000000;
}
.mv-col-indigoA200 {
	background-color: #536DFE;
	color: #FFFFFF;
}
.mv-col-indigoA400 {
	background-color: #3D5AFE;
	color: #FFFFFF;
}
.mv-col-indigoA700 {
	background-color: #304FFE;
	color: #FFFFFF;
}

.mv-col-blue {
	background-color: #2196F3;
	color: #ffffff;
}
.mv-col-blue50 {
	background-color: #E3F2FD;
	color: #000000;
}
.mv-col-blue100 {
	background-color: #BBDEFB;
	color: #000000;
}
.mv-col-blue200 {
	background-color: #90CAF9;
	color: #000000;
}
.mv-col-blue300 {
	background-color: #64B5F6;
	color: #000000;
}
.mv-col-blue400 {
	background-color: #42A5F5;
	color: #000000;
}
.mv-col-blue500 {
	background-color: #2196F3;
	color: #ffffff;
}
.mv-col-blue600 {
	background-color: #1E88E5;
	color: #ffffff;
}
.mv-col-blue700 {
	background-color: #1976D2;
	color: #ffffff;
}
.mv-col-blue800 {
	background-color: #1565C0;
	color: #ffffff;
}
.mv-col-blue900 {
	background-color: #0D47A1;
	color: #ffffff;
}
.mv-col-blueA100 {
	background-color: #82B1FF;
	color: #000000;
}
.mv-col-blueA200 {
	background-color: #448AFF;
	color: #FFFFFF;
}
.mv-col-blueA400 {
	background-color: #2979FF;
	color: #FFFFFF;
}
.mv-col-blueA700 {
	background-color: #2962FF;
	color: #FFFFFF;
}

.mv-col-lightblue {
	background-color: #03A9F4;
	color: #000000;
}
.mv-col-lightblue50 {
	background-color: #E1F5FE;
	color: #000000;
}
.mv-col-lightblue100 {
	background-color: #B3E5FC;
	color: #000000;
}
.mv-col-lightblue200 {
	background-color: #81D4FA;
	color: #000000;
}
.mv-col-lightblue300 {
	background-color: #4FC3F7;
	color: #000000;
}
.mv-col-lightblue400 {
	background-color: #29B6F6;
	color: #000000;
}
.mv-col-lightblue500 {
	background-color: #03A9F4;
	color: #000000;
}
.mv-col-lightblue600 {
	background-color: #039BE5;
	color: #ffffff;
}
.mv-col-lightblue700 {
	background-color: #0288D1;
	color: #ffffff;
}
.mv-col-lightblue800 {
	background-color: #0277BD;
	color: #ffffff;
}
.mv-col-lightblue900 {
	background-color: #01579B;
	color: #ffffff;
}
.mv-col-lightblueA100 {
	background-color: #80D8FF;
	color: #000000;
}
.mv-col-lightblueA200 {
	background-color: #40C4FF;
	color: #000000;
}
.mv-col-lightblueA400 {
	background-color: #00B0FF;
	color: #000000;
}
.mv-col-lightblueA700 {
	background-color: #0091EA;
	color: #FFFFFF;
}

.mv-col-cyan {
	background-color: #00BCD4;
	color: #000000;
}
.mv-col-cyan50 {
	background-color: #E0F7FA;
	color: #000000;
}
.mv-col-cyan100 {
	background-color: #B2EBF2;
	color: #000000;
}
.mv-col-cyan200 {
	background-color: #80DEEA;
	color: #000000;
}
.mv-col-cyan300 {
	background-color: #4DD0E1;
	color: #000000;
}
.mv-col-cyan400 {
	background-color: #26C6DA;
	color: #000000;
}
.mv-col-cyan500 {
	background-color: #00BCD4;
	color: #000000;
}
.mv-col-cyan600 {
	background-color: #00ACC1;
	color: #000000;
}
.mv-col-cyan700 {
	background-color: #0097A4;
	color: #ffffff;
}
.mv-col-cyan800 {
	background-color: #00838F;
	color: #ffffff;
}
.mv-col-cyan900 {
	background-color: #006064;
	color: #ffffff;
}
.mv-col-cyanA100 {
	background-color: #84FFFF;
	color: #000000;
}
.mv-col-cyanA200 {
	background-color: #18FFFF;
	color: #000000;
}
.mv-col-cyanA400 {
	background-color: #00E5FF;
	color: #000000;
}
.mv-col-cyanA700 {
	background-color: #00B8D4;
	color: #000000;
}

.mv-col-teal {
	background-color: #009688;
	color: #ffffff;
}
.mv-col-teal50 {
	background-color: #E0F2F1;
	color: #000000;
}
.mv-col-teal100 {
	background-color: #B2DFDB;
	color: #000000;
}
.mv-col-teal200 {
	background-color: #80CBC4;
	color: #000000;
}
.mv-col-teal300 {
	background-color: #4DB6AC;
	color: #000000;
}
.mv-col-teal400 {
	background-color: #26A69A;
	color: #000000;
}
.mv-col-teal500 {
	background-color: #009688;
	color: #ffffff;
}
.mv-col-teal600 {
	background-color: #00897B;
	color: #ffffff;
}
.mv-col-teal700 {
	background-color: #00796B;
	color: #ffffff;
}
.mv-col-teal800 {
	background-color: #00695C;
	color: #ffffff;
}
.mv-col-teal900 {
	background-color: #004D40;
	color: #ffffff;
}
.mv-col-tealA100 {
	background-color: #A7FFEB;
	color: #000000;
}
.mv-col-tealA200 {
	background-color: #64FFDA;
	color: #000000;
}
.mv-col-tealA400 {
	background-color: #1DE9B6;
	color: #000000;
}
.mv-col-tealA700 {
	background-color: #00BFA5;
	color: #000000;
}

.mv-col-green {
	background-color: #4CAF50;
	color: #000000;
}
.mv-col-green50 {
	background-color: #E8F5E9;
	color: #000000;
}
.mv-col-green100 {
	background-color: #C8E6C9;
	color: #000000;
}
.mv-col-green200 {
	background-color: #A5D6A7;
	color: #000000;
}
.mv-col-green300 {
	background-color: #81C784;
	color: #000000;
}
.mv-col-green400 {
	background-color: #66BB6A;
	color: #000000;
}
.mv-col-green500 {
	background-color: #4CAF50;
	color: #000000;
}
.mv-col-green600 {
	background-color: #43A047;
	color: #ffffff;
}
.mv-col-green700 {
	background-color: #388E3C;
	color: #ffffff;
}
.mv-col-green800 {
	background-color: #2E7D32;
	color: #ffffff;
}
.mv-col-green900 {
	background-color: #1B5E20;
	color: #ffffff;
}
.mv-col-greenA100 {
	background-color: #B9F6CA;
	color: #000000;
}
.mv-col-greenA200 {
	background-color: #69F0AE;
	color: #000000;
}
.mv-col-greenA400 {
	background-color: #00E676;
	color: #000000;
}
.mv-col-greenA700 {
	background-color: #00C853;
	color: #000000;
}

.mv-col-lightgreen {
	background-color: #8BC34A;
	color: #000000;
}
.mv-col-lightgreen50 {
	background-color: #F1F8E9;
	color: #000000;
}
.mv-col-lightgreen100 {
	background-color: #DCEDC8;
	color: #000000;
}
.mv-col-lightgreen200 {
	background-color: #C5E1A5;
	color: #000000;
}
.mv-col-lightgreen300 {
	background-color: #AED581;
	color: #000000;
}
.mv-col-lightgreen400 {
	background-color: #9CCC65;
	color: #000000;
}
.mv-col-lightgreen500 {
	background-color: #8BC34A;
	color: #000000;
}
.mv-col-lightgreen600 {
	background-color: #7CB342;
	color: #000000;
}
.mv-col-lightgreen700 {
	background-color: #689F38;
	color: #ffffff;
}
.mv-col-lightgreen800 {
	background-color: #558B2F;
	color: #ffffff;
}
.mv-col-lightgreen900 {
	background-color: #33691E;
	color: #ffffff;
}
.mv-col-lightgreenA100 {
	background-color: #CCFF90;
	color: #000000;
}
.mv-col-lightgreenA200 {
	background-color: #B2FF59;
	color: #000000;
}
.mv-col-lightgreenA400 {
	background-color: #76FF03;
	color: #000000;
}
.mv-col-lightgreenA700 {
	background-color: #64DD17;
	color: #000000;
}

.mv-col-lime {
	background-color: #CDDC39;
	color: #000000;
}
.mv-col-lime50 {
	background-color: #F9FBF7;
	color: #000000;
}
.mv-col-lime100 {
	background-color: #F0F4C3;
	color: #000000;
}
.mv-col-lime200 {
	background-color: #E6EE9C;
	color: #000000;
}
.mv-col-lime300 {
	background-color: #DCE775;
	color: #000000;
}
.mv-col-lime400 {
	background-color: #D4E157;
	color: #000000;
}
.mv-col-lime500 {
	background-color: #CDDC39;
	color: #000000;
}
.mv-col-lime600 {
	background-color: #C0CA33;
	color: #000000;
}
.mv-col-lime700 {
	background-color: #AFB42B;
	color: #000000;
}
.mv-col-lime800 {
	background-color: #9E9D24;
	color: #000000;
}
.mv-col-lime900 {
	background-color: #827717;
	color: #ffffff;
}
.mv-col-limeA100 {
	background-color: #F4FF81;
	color: #000000;
}
.mv-col-limeA200 {
	background-color: #EEFF41;
	color: #000000;
}
.mv-col-limeA400 {
	background-color: #C6FF00;
	color: #000000;
}
.mv-col-limeA700 {
	background-color: #AEEA00;
	color: #000000;
}

.mv-col-yellow {
	background-color: #FFEB3B;
	color: #000000;
}
.mv-col-yellow50 {
	background-color: #FFFDE7;
	color: #000000;
}
.mv-col-yellow100 {
	background-color: #FFF9C4;
	color: #000000;
}
.mv-col-yellow200 {
	background-color: #FFF59D;
	color: #000000;
}
.mv-col-yellow300 {
	background-color: #FFF176;
	color: #000000;
}
.mv-col-yellow400 {
	background-color: #FFEE58;
	color: #000000;
}
.mv-col-yellow500 {
	background-color: #FFEB3B;
	color: #000000;
}
.mv-col-yellow600 {
	background-color: #FDD835;
	color: #000000;
}
.mv-col-yellow700 {
	background-color: #FBC02D;
	color: #000000;
}
.mv-col-yellow800 {
	background-color: #F9A825;
	color: #000000;
}
.mv-col-yellow900 {
	background-color: #F57F17;
	color: #000000;
}
.mv-col-yellowA100 {
	background-color: #FFFF8D;
	color: #000000;
}
.mv-col-yellowA200 {
	background-color: #FFFF00;
	color: #000000;
}
.mv-col-yellowA400 {
	background-color: #FFEA00;
	color: #000000;
}
.mv-col-yellowA700 {
	background-color: #FFD600;
	color: #000000;
}

.mv-col-amber {
	background-color: #FFC107;
	color: #000000;
}
.mv-col-amber50 {
	background-color: #FFF8E1;
	color: #000000;
}
.mv-col-amber100 {
	background-color: #FFECB3;
	color: #000000;
}
.mv-col-amber200 {
	background-color: #FFE082;
	color: #000000;
}
.mv-col-amber300 {
	background-color: #FFD54F;
	color: #000000;
}
.mv-col-amber400 {
	background-color: #FFCA28;
	color: #000000;
}
.mv-col-amber500 {
	background-color: #FFC107;
	color: #000000;
}
.mv-col-amber600 {
	background-color: #FFB300;
	color: #000000;
}
.mv-col-amber700 {
	background-color: #FFA000;
	color: #000000;
}
.mv-col-amber800 {
	background-color: #FF8F00;
	color: #000000;
}
.mv-col-amber900 {
	background-color: #FF6F00;
	color: #000000;
}
.mv-col-amberA100 {
	background-color: #FFE57F;
	color: #000000;
}
.mv-col-amberA200 {
	background-color: #FFD740;
	color: #000000;
}
.mv-col-amberA400 {
	background-color: #FFC400;
	color: #000000;
}
.mv-col-amberA700 {
	background-color: #FFAB00;
	color: #000000;
}